header, body, footer {
    margin: 0;
    font-family: sans-serif;
}

header {
    position: relative;
    text-align: center;
    color: #ffffcc;
    font-family: 'Lucida Calligraphy', fantasy;
    background-color: black;
    height: 600px;
}

/* main logic behind the creation of the alert scroll bar */
#scroll-container {
    position: fixed;
    border-radius: 5px;
    overflow: hidden;
    /* This places an overlay over the top of the page */
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
  
#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    /* change the speed of the alert text */
    -moz-animation: move-alert 25s linear infinite;
    -webkit-animation: move-alert 25s linear infinite;
    animation: move-alert 25s linear infinite;
}
  
/* for Firefox */
@-moz-keyframes move-alert {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
  
/* for Chrome */
@-webkit-keyframes move-alert {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
  
@keyframes move-alert {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

/* top banner area specifically for the castle */
section#top nav.horizontal img {
    float: left;
}

.banner {
    position: absolute;
    left: 50%;
    /* 
     * moves the banner down from the top 
     * of the page to leave room for the alert
     */
    top: 5%;
    transform: translate(-50%, 0%);
    max-width: 1200px;
    margin: 0 auto;
    float: left;
    width: 54%;
}

.castle {
    width: 12.5%;
}

#castle li {
    clear: both;
    content: "";
    display: flex;
    float: left;
    list-style-type: none;
}

/*
* This section formats the event dates on the right-hand side of the screen
*/
.titleEventDates {
    position: absolute;
    top: 4%;
    right: 0;
    text-align: center;
    color: #ffffcc;
    font-family: 'Lucida Calligraphy', fantasy;
    font-size: 1em; /* initial font size */

    height: 300px; /* adjust this height to your needs */
    overflow-y: scroll;
  }

  .eventDates {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .eventDates li {
    font-size: 16px; /* adjust this font size to your needs */
    line-height: 1.5;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .eventDates li:last-child {
    border-bottom: none;
  }

  .toggle-menu {
    display: block;
  }

  /* Style the hamburger icon */
.toggle-menu-icon {
  display: none;
}

.bar {
  display: none;
}

/* 
 * clears the area from the banner allowing the
 * vertical list to not be affected by float:left 
 */
section#top nav.horizontal::after {
    clear: both;
    content: "";
    display: table;
}

.welcome-container {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  height: 223px;
  overflow-y: scroll;
  padding: 10px;
}

.welcome-container p {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 
 * sets up the screen for the text in the header, the images on the buttons,
 * and the text in the buttons
 */
.welcome-message {
    font-size: 18px;
    line-height: 1.5;
}

.welcome-message p {
    color: white;
}

#first::after {
    content: "\a\a";
    white-space: pre;
}

#second::after {
    content: "\a\a";
    white-space: pre;
}

#third::after {
    content: "\a\a";
    white-space: pre;
}

/*
 * The magic behind the background image on the main page
 * inset allows the illusion of the background to be bigger
 * than it actually is, creating the illusion
 * of a never-ending map.
 */
 #eastguard {
    background-image: url('fqImgLib/FQ_March_Of_Eastguard_Map.png');
    box-shadow: inset 0px 0px 1.25em 9.375em #ffffcc;
    -ms-box-shadow: inset 0px 0px 1.25em 9.375em #ffffcc;
    -moz-box-shadow: inset 0px 0px 1.25em 9.375em #ffffcc;
    -webkit-box-shadow: inset 0px 0px 1.25em 9.375em #ffffcc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    background-attachment: fixed;
  }

#left a {
	color: #007bff; /* Blue link color */
	text-decoration: none; /* Remove underline */
}

#left a:hover {
	color: #0056b3; /* Darker blue on hover */
}

/* centered text for the buttons*/
.centered {
    position: absolute;
    top: 60%;
    left: 67%;
    transform: translate(-50%, -50%);
    font-size: 14.6667px;
    font-size: 1.0em;
}

section#left {
    float: none;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

section#left ul {
    float: none;
    position: relative;
    height: 100vh;
    /* remove bullets */
    list-style-type: none;
    padding-inline-start: 0px;
}

section#left ul p {
    padding-inline-start: 8px;
    font-size: small;
    color: #009900;
}

#left ul p::before {
    content: "\a\a";
    white-space: pre;
}

/* copyright */
footer {
    background-color: black;
    bottom: 0;
    z-index: 5;
    height: 600px;
}

footer p {
    padding: 50px;
    text-align: center;
    color: white;
}

footer .thankyou {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
}

footer .legaldocs {
    text-align: center;
    color: #007bff; /* Blue link color */
}

footer .legaldocs a {
    color: #007bff; /* Blue link color */
    text-decoration: none; /* Remove underline */
}

footer .legaldocs a:hover {
    color: #0056b3;
}

/* mobile devices */
@media only screen and (max-width: 1000px) {

  header {
    display: none;
  }

  #scroll-container {
    display: none;
  }

  .castle, #castle li {
    display: none;
  }

  #titleEventDates {
    display: none;
  }

/* Hide the menu by default */
.toggle-menu {
  display: none;
}

/* Style the hamburger icon */
.toggle-menu-icon {
  display: block;
  cursor: pointer;
  padding: 30px;
  padding-inline-start: 10px;
  font-size: 20px;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 10px auto;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

/* Rotate the bars to create an 'X' shape when the menu is open */
.change .bar:first-child {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:last-child {
  transform: rotate(45deg) translate(-7px, -7px);
}

@media (max-width: 767px) {
  .toggle-menu-icon {
    padding: 36px;
    font-size: 24px;
  }
  
  .bar {
    width: 36px;
    height: 6px;
    margin: 12px auto;
  }
  
  .change .bar:first-child {
    transform: rotate(-45deg) translate(-9px, 9px);
  }

  .change .bar:last-child {
    transform: rotate(45deg) translate(-9px, -9px);
  }
}

  .welcome-message p {
    /* display: none; */
  }

  .welcome-message h2 {
    /* padding: 150px; */
  }

  #eastguard {
    background-image: none;
    box-shadow: none;
    background-color: black;
  }

  footer {
    display: none;
  }

  footer .thankyou, #thankyouP {
    display: none;
  }

  footer p {
    padding: 25px;
  }

}
  