body, footer {
    margin: 0;
    font-family: sans-serif;
}

header {
    position: relative;
    text-align: center;
    font-family: 'Lucida Calligraphy', fantasy;
}

/* container holding the image and the text for buttons */
.container {
    position: relative;
    overflow: auto;
    width: 100%;
    max-height: 500px;
}

.toggle-menu {
    display: block;
  }

  /* Style the hamburger icon */
.toggle-menu-icon {
  display: none;
}

.bar {
  display: none;
}

#eastguard {
    background-color: #ffffcc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: auto;
}

#left a {
	color: #007bff; /* Blue link color */
	text-decoration: none; /* Remove underline */
}

#left a:hover {
	color: #0056b3; /* Darker blue on hover */
}

/* centered text for the buttons*/
.centered {
    position: absolute;
    top: 60%;
    left: 67%;
    transform: translate(-50%, -50%);
    font-size: 14.6667px;
    font-size: 1.0em;
}

section#left {
    float: none;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

section#left ul {
    float: none;
    position: relative;
    height: 100vh;
    /* remove bullets */
    list-style-type: none;
    padding-inline-start: 0px;
}

section#left ul p {
    padding-inline-start: 8px;
    font-size: small;
    color: #009900;
}

#left ul p::before {
    content: "\a\a";
    white-space: pre;
}

/* copyright */
footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    color: black;
}

footer .legaldocs {
    text-align: center;
}

footer .legaldocs a{
    text-decoration: none;
}

/* mobile devices */
@media only screen and (max-width: 1000px) {
  
    /* Hide the menu by default */
    .toggle-menu {
      display: none;
    }
    
    /* Style the hamburger icon */
    .toggle-menu-icon {
      display: block;
      cursor: pointer;
      padding-inline-start: 8px;
    }
    
    .bar {
      display: block;
      width: 20px;
      height: 3px;
      margin: 5px auto;
      background-color: #333;
      transition: all 0.3s ease-in-out;
    }
    
    /* Rotate the bars to create an 'X' shape when the menu is open */
    .change .bar:first-child {
      transform: rotate(-45deg) translate(-4px, 4px);
    }
    
    .change .bar:nth-child(2) {
      opacity: 0;
    }
    
    .change .bar:last-child {
      transform: rotate(45deg) translate(-4px, -4px);
    }
}
  